/* Remove any default styling on html and body */
html, body
    margin: 0
    padding: 0
    height: 100%

main
    padding-top: 50px

/* Styling that applies to all pages */
$main-background-color: #0b4f6c
$main-background-light-color: #01baff
$main-heading-color: #fbfbff
$main-accent-grey: #757575
$main-accent-green: #4cb944

body
    background-color: $main-background-color
    font-family: sans-serif

    main.container-fluid
        color: $main-accent-grey
        background-color: $main-background-light-color
        width: 85%
        height: 100%
        font-weight: 600

#login
    display: block
    background-color: $main-background-color
    


/* Nav bar */
    