/* Remove any default styling on html and body */
html, body
    margin: 0
    padding: 0
    overflow-x: hidden
    height: 100%

.navbar-nav > li > .dropdown-menu 
    background-color: #343a40
    
    > .dropdown-item
        color: #9A9DA0

/* The navbar is 50px tall so move main content down so it does not get obscured */

/* Styling that applies to all pages */
$main-background-color: #be9a8a
$old-main-bg-color: #be9a8a
$main-background-light-color: #eee2dc
$main-heading-color: #ac3b61
$main-accent-grey: #bab2b5
$main-accent-blue: #123c69
$placeholder-color : rgba($main-accent-blue, .25)

body
    background-color: $main-background-color
    font-family: sans-serif

    main.container-fluid
        color: $main-accent-blue
        background-color: $main-background-color
        width: 100%
        height: auto
        font-weight: 600

#login, #signup
    display: block
    background-color: $main-background-color

    p.alert 
        width: 60%

    form 
        color: $main-heading-color
        background-color: $main-background-light-color

        border-radius: 3%

        input
            color: $main-accent-blue

        label
            color: $placeholder-color

        #btnSubmit
            background-color: $main-accent-blue
            border-color: $main-accent-blue

.carousel-item > img
        max-width: 100%
    

.nudge
    margin-top: 50px

figure > img
    max-width: 100%

table
    border-collapse: collapse
    border: 1px solid black

    margin-left: auto
    margin-right: auto

    thead
        background-color: $main-background-color
        color: $main-heading-color
        font-weight: bold
    
    td
        border: 1px dashed $main-background-color
        text-align: right

        + td
            text-align: center

    th, td 
        padding: 0.5em 1em

    tbody > tr:nth-child(odd) 
        background-color: rgba(204, 204, 204, 0.7)

    tbody > tr:nth-child(even) 
        background-color: rgba(255, 255, 255, 0.7)

    tbody > tr:hover
        background-color: #ffff99

    tfoot tr td:nth-child(even)
        text-align: right